/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

/* General */
html, body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #f4f4f4, #d8d9ee, #b5bfe8, #8aa9e3, #4a94dd);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    padding-top: 50px;
    font-size: 2em;
}

h3 {
    font-size: 1.25em;
    padding: 10px;
}



/* Header */
header {
    background-color: #2f59cd70;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
}

header h1 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

header input[type=submit] {
    background-color: #2f59cda9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}

header input[type=submit]:hover {
    background-color: #2f59cd;
}

/* Footer */


footer {
    background-color: #333333c6;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 60px;
}

/* special divs */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


select, input {
    width: 100%; /* Make combo box and text box fill the container */
    margin-top: 5px; /* Add some space at the top */
    margin-bottom: 10px; /* Add some space at the bottom */
}

select, input[type=text] {
    padding: 5px; /* Add padding to the combo box */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add a grey border */
    background-color: #fff; /* Add a white background color */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    
}

.centered-button {
    text-align: center;
    padding: 10px;
    background-color: #2f59cdc6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto; /* Center the button */
}

.button-container {
    margin-top: auto;
}

.big-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 20px; /* Adjust the gap between smaller boxes */
    width: 800px; /* Set the width of the big box */
    height: 600px; /* Set the height of the big box */
    padding: 10px; /* Padding for the big box */
    margin: 25px auto; /* Center the big box */
}

.small-box {
    background-color: #7493e8a7;

    border-radius: 15px;
    padding: 10px; /* Padding for the smaller boxes */
    text-align: center; /* Align text to the center */
    position: relative; /* Set position to relative for absolute positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Make the small box take full height */
}